body {
  position: relative;
  background-color: rgb(30, 30, 30);
}

.todo-wrap {
  position: relative;
  width: 650px;
  height: 880px;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 3px;
}

.todo-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 30px 20px 20px 20px;
  border-bottom: 1px solid #eee;
}

.todo-input-wrap {
  border-bottom: 1px solid #eee;
}

.todo-input-wrap input {
  padding: 0px 10px;
  height: 100%;
  width: 330px;
  text-align: left;
  font-size: 14px;
  border: none;
}

.todo-input {
  background-color: rgb(30, 30, 30);
}

.todo-input-wrap button {
  translate: -30%;
}

.fa-plus {
  font-size: 20px;
}

.todo-main {
  position: relative;
  padding: 20px 20px 0px 20px;
  height: calc(100% - 94px);
  overflow-y: auto;
}

.todo-list {
  display: grid;
  grid-template-columns: 185px 185px 185px;
  grid-template-rows: 185px 185px 185px;
  grid-gap: 20px;
}

.content {
  width: 190px;
  height: 190px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.content p {
  width: 100%;
  height: 88%;
  border-bottom: 1px solid #eee;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.content-footer {
  text-align: end;
}

.content-footer button {
  margin-right: 10px;
}

.fa-pencil {
  font-size: 14px;
}

.fa-xmark {
  font-size: 16px;
}

