body {
  background-color: #eeeeee;
}

.todo-wrap {
  position: relative;
  width: 700px;
  height: 1000px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #333;
  border-radius: 3px;
}

.todo-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 30px 20px 20px 20px;
  border-bottom: 1px solid #333;
}

.todo-input-wrap {
  border-bottom: 1px solid #333;
}

.todo-input-wrap input {
  padding: 0px 10px;
  height: 100%;
  width: 330px;
  text-align: left;
  font-size: 14px;
  border: none;
}

::placeholder:default {
  text-align: center;
}

.todo-input-wrap button {
  translate: -50%;
}

.fa-plus {
  font-size: 20px;
}

.todo-main {
  padding: 20px;
}

