* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

ul, li, ol {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.3);
}

img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
